body{
    margin: 0;

    background-color: pink;
    color: white;

    font-family: Arial, sans-serif;
}

/*=============================================
頁頂
=============================================*/

header{
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    background-color: #181818;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
}

/*===========logo==================*/

.logo{
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

/*================選單==============*/

.menu-button{
    display: none;

    background: none;
    border: none;

    color: white;
    font-size: 30px;

    cursor: pointer;
}

nav{
    display: flex;
    gap: 30px;
    
    background-color: #333333;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;

    padding-bottom: 8px;

    transition: 0.3s;
}

nav a:hover{
    color: #aaaaaa;
}

nav a.active{
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;

    padding-bottom: 8px;
}

/*================================================
主圖片
================================================*/

.hero{
    min-height: 100vh;

    padding-top: 80px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-image{
    width: min(1000px,80%);
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;

    border: 2px dashed #777;

    box-sizing: border-box;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero h1{
    font-size: 42px;
}

/*==================================================
公告區域
==================================================*/

.news {
    padding: 100px 50px;

    background-color: #151515;
}

.section-title{
    text-align: center;

    margin-bottom: 50px;
}

.section-title h2{
    margin: 0;

    font-size: 40px;
}

.section-title p{
    margin-top: 8px;

    color: #999;
}

.news-carousel{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.news-window{
    width: 100%;

    overflow: hidden;
}

.news-list{
    display:  flex;
    gap: 30px;
    width: 100%;

    transform: translateX(0);

    transition: transfrom 0.4s ease;
}

.news-card{
    flex: 0 0 calc((100% - 60px) / 3);
}

.news-button{
    flex-shrink: 0;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background-color: #333;
    color: white;

    font-size: 20px;

    cursor: pointer;

    transition: 0.2s;
}

.news-button:hover{
    background-color:   #555;

    transform: scale(1.1);
}

.image-placeholder{
    width: 100%;
    height: 200px;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #333;

    border: 2px dashed #777;

    box-sizing: border-box;

    color: #aaa;
}

.image-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news-card h3{
    margin-top: 15px;
    margin-bottom: 5px;

    font-size: 20px;
}

.news-date{
    margin: 0;

    color: #777;

    font-size: 14px;
}

/*================================================
下載區域
================================================*/

.download{
    padding: 100px 50px;

    background-color: #202020;
}

.download-list{
    max-width: 900px;

    margin: 0 auto;

    display: flex;
    justify-content: center;

    gap: 30px;
}

.download-card{
    width: 350px;

    padding: 25px;

    box-sizing: border-box;

    display: flex;
    align-items: center;

    gap: 20px;

    background-color: #333;

    color: white;

    text-decoration: none;

    border: 1px solid #555;
    border-radius: 10px;

    transition: 0.3s;
}

.download-card:hover{
    transform: translateY(-5px);

    background-color: #444;
}

.download-icon{
    width: 80px;
    height: 80px;

    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222;

    border: 2px dashed #777;

    color: #aaa;
}

.download-info h3{
    margin: 0;

    font-size: 24px;
}

.download-info p{
    margin: 8px 0 0;

    color: #aaa;
}

/*=========================================================
頁底
=========================================================*/

footer{
    padding: 40px;

    text-align: center;

    background-color: #181818;
}

/*===============連結===============*/
.social-links{
    display: flex;

    justify-content: center;

    gap: 30px;

    margin-bottom: 20px;
}

.social-links a{
    color: white;

    text-decoration: none;
}

.social-links a:hover{
    color: #aaaaaa;
}

.social-down{
    margin-top: 30px;

    font-size: 30px;
    
    animation: scrollMove 1.5s infinite;
}

/*=================================================
動畫
=================================================*/

@keyframes scrollMove {
    
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0);
    }
}

/*==================================================
寬度適配
==================================================*/

@media(max-width: 900px){

    .news-card{
        flex-basis: calc((100% - 30px) / 2);
    }

}

@media (max-width: 600px){

    .news{
        padding-left: 15px;
        padding-right: 15px;
    }

    .news-carousel{
        gap: 10px;
    }

    .news-card{
        flex-basis: 100%;
    }

    .news-button{
        width: 40px;
        height: 40px;

        font-size: 16px;
    }

    header{
        height: 80px;

        padding: 0 20px;

        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: space-between;

        position: fixed;

        top: 0;
        left: 0;
        right: 0;

        background-color: #181818;

        z-index: 1000;
    }

    .logo{
        height: 70px;

        display: flex;
        align-items: center;
    }

    .logo img{
        width: 70px;
        height: 70px;

        object-fit: contain;
    }

    .menu-button{
        display: block;

        width: 45px;
        height: 45px;

        padding: 0;

        margin-left: auto;

        background: none;

        border: 1px solid white;
        border-radius: 4px;
        
        color: white;

        font-size: 30px;

        cursor: pointer;

        position: relative;

        z-index: 1002;
    }

    nav{
        position: fixed;

        top: 80xp;
        left: 0;
        right: 0;

        width: 100%;

        display: none;
        flex-direction: column;

        gap: 0;

        padding: 0;
        margin: 0;

        box-sizing: border-box;

        background-color: #181818;

        z-index: 999;
    }

    nav.open{
        display: flex;
    }

    nav a{
        display: block;

        width: 100%;

        padding: 18px 20px;

        margin: 0;

        box-sizing: border-box;
        
        color: white;

        text-align: left;
        text-decoration: none;

        border-bottom: 1px solid #333;
    }

    nav a.active{
        border-bottom: 1px solid #444;

        background-color: #333;
    }

    .download{
        padding: 70px 20px;
    }

    .download-list{
        flex-direction: column;

        align-items: center;
    }

    .download-card{
        width: 100%;
        max-width: 350px;
    }

    nav#main-nav{
        position: fixed;

        top: 80px;
        left: 0;
        right: 0;

        width: 100%;

        transform: none;

        margin: 0;
        padding: 0;

        box-sizing: border-box;

        display: none;
        flex-direction: column;

        gap: 0;

        background-color: #181818;

        z-index: 999;
    }

    nav#main-nav.open{
        display: flex;
    }

    nav#main-nav a{
        display: block;

        width: 100%;

        margin:  0;
        padding: 18px 20px;

        box-sizing: border-box;

        position: static;
        
        transform: none;

        color: white;

        text-align: left;
    }
}