body{
    margin: 0;

    background-color: pink;
    color: white;

    font-family: Arial, sans-serif;
}

header{
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    background-color: #181818;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.menu-button{
    display: none;

    background: none;
    border: none;

    color: white;
    font-size: 30px;

    cursor: pointer;
}

nav{
    display: flex;
    gap: 30px;
    
    background-color: #333333;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;

    padding-bottom: 8px;

    transition: 0.3s;
}

nav a:hover{
    color: #aaaaaa;
}

nav a.active{
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;

    padding-bottom: 8px;
}

.hero{
    min-height: 100vh;

    padding-top: 80px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-image{
    width: min(1000px,80%);
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;

    border: 2px dashed #777;

    box-sizing: border-box;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero h1{
    font-size: 42px;
}

.news {
    padding: 100px 50px;

    background-color: #151515;
}

.section-title{
    text-align: center;

    margin-bottom: 50px;
}

.section-title h2{
    margin: 0;

    font-size: 40px;
}

.section-title p{
    margin-top: 8px;

    color: #999;
}

.news-carousel{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.news-window{
    width: 100%;

    overflow: hidden;
}

.news-list{
    display:  flex;
    gap: 30px;
    width: 100%;

    transform: translateX(0);

    transition: transfrom 0.4s ease;
}

.news-card{
    flex: 0 0 calc((100% - 60px) / 3);
}

.news-button{
    flex-shrink: 0;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background-color: #333;
    color: white;

    font-size: 20px;

    cursor: pointer;

    transition: 0.2s;
}

@media(max-width: 900px){

    .news-card{
        flex-basis: calc((100% - 30px) / 2);
    }

}

@media (max-width: 600px){

    .news{
        padding-left: 15px;
        padding-right: 15px;
    }

    .news-carousel{
        gap: 10px;
    }

    .news-card{
        flex-basis: 100%;
    }

    .news-button{
        width: 40px;
        height: 40px;

        font-size: 16px;
    }

    header{
        padding: 0 20px;
    }

    .menu-button{
        display: block;

        margin-left: auto;
    }

    nav{
        position: absolute;

        top: 80xp;
        left: 0;

        width: 100%;

        box-sizing: border-box;

        display: none;

        flex-direction: column;

        gap: 0;

        padding: 0;

        background-color: #181818;
    }

    nav.open{
        display: flex;
    }

    nav a.active{
        border-bottom: 1px solid #333;

        background-color: #333;
    }
}

.news-button:hover{
    background-color:   #555;

    transform: scale(1.1);
}

.image-placeholder{
    width: 100%;
    height: 200px;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #333;

    border: 2px dashed #777;

    box-sizing: border-box;

    color: #aaa;
}

.image-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news-card h3{
    margin-top: 15px;
    margin-bottom: 5px;

    font-size: 20px;
}

.news-date{
    margin: 0;

    color: #777;

    font-size: 14px;
}

footer{
    padding: 40px;

    text-align: center;

    background-color: #181818;
}

.social-links{
    display: flex;

    justify-content: center;

    gap: 30px;

    margin-bottom: 20px;
}

.social-links a{
    color: white;

    text-decoration: none;
}

.social-links a:hover{
    color: #aaaaaa;
}

.social-down{
    margin-top: 30px;

    font-size: 30px;
    
    animation: scrollMove 1.5s infinite;
}

@keyframes scrollMove {
    
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0);
    }
}